<p style="color: green"><%= notice %></p>

<%= render @tema %>

<div>
  <%= link_to "Edit this tema", edit_tema_path(@tema) %> |
  <%= link_to "Back to temas", temas_path %>

  <%= button_to "Destroy this tema", @tema, method: :delete %>
</div>
