
    <div class="card-header">
      Q<%=i+1%>
    </div>
    
    <div class="card-body">
      <h5 class="card-title"><%=pregunta.enunciado %></h5>
      <div id="respuesta" data-respuesta="<%=pregunta.respuesta%>" data-id="<%= pregunta.id%>" data-again="false" data-i="<%=i%>"></div>


      <div class="list-group">
        <label class="list-group-item">
          <input class="form-check-input me-1" type="radio" name="checkboxGroup" value="a">
          <%= pregunta.alternativa1%>
        </label>
        <label class="list-group-item">
          <input class="form-check-input me-1" type="radio" name="checkboxGroup" value="b">
          <%= pregunta.alternativa2%>

        </label>
        <label class="list-group-item">
          <input class="form-check-input me-1" type="radio" name="checkboxGroup" value="c">
          <%= pregunta.alternativa3%>

        </label>
        <label class="list-group-item">
          <input class="form-check-input me-1" type="radio" name="checkboxGroup" value="d">
          <%= pregunta.alternativa4%>

        </label>

      </div>
      <br>
      
      <button class="btn btn-primary" id="responder-button">Responder</button>
      <span id='lista' data-list="<%=preguntas%>"></span>
    
    </div>


