
    <div class="card-header">
      Q<%=i+1%> 
    </div>
    <div class="card-body">
      <h5 class="card-title"><%=pregunta.enunciado %></h5>
      <div id="respuesta" data-respuesta="<%=pregunta.respuesta%>" data-i="<%=i%>"></div>


      <div class="list-group">
        <label class="list-group-item">
          <input class="form-check-input me-1" type="radio" name="checkboxGroup" value="a">
          <%= pregunta.alternativa1%>
        </label>
        <label class="list-group-item">
          <input class="form-check-input me-1" type="radio" name="checkboxGroup" value="b">
          <%= pregunta.alternativa2%>

        </label>
        <label class="list-group-item">
          <input class="form-check-input me-1" type="radio" name="checkboxGroup" value="c">
          <%= pregunta.alternativa3%>

        </label>
        <label class="list-group-item">
          <input class="form-check-input me-1" type="radio" name="checkboxGroup" value="d">
          <%= pregunta.alternativa4%>

        </label>

      </div>
      <br>
      
      <%= button_to "Responder", '#', class: 'btn btn-primary', id: 'responder-button' %>

    
    </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
  const responderButton = document.getElementById('responder-button');

  responderButton.addEventListener("click", function(event) {
    event.preventDefault(); // Prevent the default form submission

    const selectedValue = document.querySelector('input[name="checkboxGroup"]:checked').value;
    const answer = document.getElementById("respuesta").getAttribute("data-respuesta");
    const i = document.getElementById("respuesta").getAttribute("data-i");

    const response = {
      'number_question': '',
      'answer': '',
      'correct': ''
    }

    if (selectedValue) {
      response.number_question = i;
      response.answer = selectedValue;
      response.correct = selectedValue === answer;

      if (selectedValue === answer) {
        fetch('/next_alt', {
          method: 'GET',
          headers: {
            'Accept': 'application/json',
            'X-CSRF-Token': Rails.csrftoken()
          }
        }).then(res => res.json())
          .then(data => {
            const nextIndex = data.index;
            fetch(`/get_next_question?current_index=${nextIndex}`, {
              method: 'GET',
              headers: {
                'Accept': 'application/json',
                'X-CSRF-Token': Rails.csrftoken()
              }
            }).then(response => response.json())
              .then(data => {
                const nextQuestion = data.pregunta;
                const newIndex = data.index;

                const newQuestionHTML = `
                  <h1><%= @tema.materia_actual %></h1>
                  <h3>Pregunta ${newIndex + 1}/<%= @preguntas.length %></h3>
                  <div class="card">
                    <%= render partial: "question", locals: { pregunta: @preguntas[${newIndex}], i: ${newIndex} } %>
                  </div>`;

                document.getElementById("alt_question").innerHTML = newQuestionHTML;
              }).catch(error => {
                console.log('Error', error)
              });

            console.log(response);
            answered.push(response);
          });
      }

    } else {
      alert("Please select an option before responding.");
    }
  });
});
