<script>
    document.addEventListener("DOMContentLoaded", function() {

      const responderButton = document.getElementById('alt-container');
      const total_questions = Number(responderButton.getAttribute('data-length'))

      const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
      responderButton.addEventListener("click", function(event) {
        if(event.target.id === 'responder-button'){
            event.preventDefault(); // Prevent the default form submission
        
        const selectedValue = document.querySelector('input[name="checkboxGroup"]:checked').value;
        const answer  = document.getElementById("respuesta").getAttribute("data-respuesta")
        const i  = document.getElementById("respuesta").getAttribute("data-i")
        const preg_id  = document.getElementById("respuesta").getAttribute("data-id")

        const preg  = document.getElementById("lista").getAttribute("data-list")
        const again  = document.getElementById("respuesta").getAttribute("data-again")



        // console.log(answer)
        const response = {
                'number_question':'',
                'answer':'',
                'correct':''
            }


        
        if (selectedValue) {
             // You can now use the selectedValue as needed (e.g., submit it via AJAX, display it to the user, etc.)
          response.number_question = preg_id;
          response.answer = selectedValue;
          response.correct = selectedValue === answer;
          selected = answered.filter(x=>x.correct!==true).map(x=>x.answer)

          to_send = {'index':i,'preguntas':preg,'again':again,'selected':selected}
          const jsonData = JSON.stringify(to_send)
            // console.log("presed")


            fetch(`/next_alt`,{
              method:'POST',
              headers:{
                'X-CSRF-TOKEN':csrfToken
              },
              body:jsonData
            }).then(res => res.json())
            .then(data =>{
              var parent = document.getElementById('alt_question')
              console.log(data);
              if(data.msg){
                ready(answered)
              }else{
                  parent.innerHTML = ""
                  parent.innerHTML = data.html

              }
            })
            .catch(error=>{
              console.log('Error',error)
            })
         
            answered.push(response);

          
        } else {
          alert("Please select an option before responding.");
        }
        // console.log(response);




        }

      });
      
      
    let bool_answered = [];
    let answered = [];
    // const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
    
    
    function ready(answered){
        console.log(answered)
        if (answered.map(x => x.correct).every(x => x===true) || answered.filter(x=>x.correct==true).length===total_questions) {
            Swal.fire({
                icon: 'success',
          title: 'Correcto',
          text: 'Respuesta correcta',
          confirmButtonText: 'Continuar',
        }).then((result)=>{
            window.location.href = "/#"
        })
    }else{
            Swal.fire({
          icon: 'error',
          title: 'Oops... respuesta(s) incorrecta(s)',
        }).then((results)=>{
            preg = answered.filter(x=>x.correct!==true).map(x=>x.number_question)
            selected = answered.filter(x=>x.correct!==true).map(x=>x.answer)

            to_send = {'index':0,'preguntas':preg,'again':true,'selected':selected}
            const jsonData = JSON.stringify(to_send)

            fetch(`/next_alt_again`,{
                method:'POST',
              headers:{
                  'X-CSRF-TOKEN':csrfToken
                },
                body:jsonData
            }).then(res => res.json())
            .then(data =>{
                var parent = document.getElementById('alt_question')
                console.log(data);
                if(data.msg){
                    ready(answered)
                }else{
                    parent.innerHTML = ""
                    parent.innerHTML = data.html

              }
            })
            .catch(error=>{
              console.log('Error',error)
            })
            answered = answered.filter(x=>x.correct===true).map(x=>x.number_question)
            return answered
            
        })
    }
    
    
    
}
});
</script>



<div class="container" id="alt-container" data-length='<%=@preguntas.length %>' >
    <h1><%= @tema.materia_actual%></h1>


    <h3>Pregunta <%= @preguntas.find_index(@preguntas[@i]) +1%>/<%=@preguntas.length %></h3>
    <div class="card" id ="alt_question">

    <%= render partial: "question",locals:{pregunta:@Pregunta.find(@preguntas[@i]),i:@i,preguntas:@preguntas} %>

    </div>


</div>




