<div id="<%= dom_id alt_question %>">
  <p>
    <strong>Id tema:</strong>
    <%= alt_question.id_tema %>
  </p>

  <p>
    <strong>Enunciado:</strong>
    <%= alt_question.enunciado %>
  </p>

  <p>
    <strong>Alternativa1:</strong>
    <%= alt_question.alternativa1 %>
  </p>

  <p>
    <strong>Alternativa2:</strong>
    <%= alt_question.alternativa2 %>
  </p>

  <p>
    <strong>Alternativa3:</strong>
    <%= alt_question.alternativa3 %>
  </p>

  <p>
    <strong>Alternativa4:</strong>
    <%= alt_question.alternativa4 %>
  </p>

  <p>
    <strong>Respuesta:</strong>
    <%= alt_question.respuesta %>
  </p>

  <p>
    <strong>Dificultad:</strong>
    <%= alt_question.dificultad %>
  </p>

</div>
