<p style="color: green"><%= notice %></p>

<%= render @alt_question %>

<div>
  <%= link_to "Edit this alt question", edit_alt_question_path(@alt_question) %> |
  <%= link_to "Back to alt questions", alt_questions_path %>

  <%= button_to "Destroy this alt question", @alt_question, method: :delete %>
</div>
