<div id="<%= dom_id dev_question %>">
  <p>
    <strong>Id tema:</strong>
    <%= dev_question.id_tema %>
  </p>

  <p>
    <strong>Enunciado:</strong>
    <%= dev_question.enunciado %>
  </p>

  <p>
    <strong>Respuesta:</strong>
    <%= dev_question.respuesta %>
  </p>

  <p>
    <strong>Dificultad:</strong>
    <%= dev_question.dificultad %>
  </p>

</div>
